/* central line not appearing in main in Safari */
/* no hover animation on portfolio app pictures in Firefox - fix causes image sizing problems in other browsers  */

body,
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  width: 100vw;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  z-index: 1;
}

.button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 0;
  width: 16rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:focus {
  outline-color: #409ea9;
}

#body {
  width: 100vw;
  height: 0;
  position: sticky;
  top: 0;
}

.body {
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
}

#body-left {
  border-right: solid;
  border-width: thin;
  border-color: #e8e8e8;
  z-index: -1;
}

/* HEADER STYLING */

header {
  width: 100vw;
  color: white;
  font-size: 1rem;
}

#header-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(68, 88, 101, 0.8), rgba(68, 88, 101, 0.8)),
    url("https://foundersandcoders.com/assets/academy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  height: 650px;
  width: 100%;
  padding-top: 10vh;
}

#fac_lightbulb {
  height: 120px;
  width: auto;
}

header > * {
  text-align: center;
  color: #e8e8e8;
}

header h1 {
  font-weight: 700;
  font-size: 2.5em;
  margin: 32px 0;
}

header h2 {
  font-weight: 600;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 8px;
}

header p {
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 48px;
  padding: 0 64px;
}

header button {
  border: none;
  background-color: #e8e8e8;
  color: #409ea9;
  margin-bottom: 32px;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

header button:hover {
  background-color: #409ea9;
  color: #e8e8e8;
}

/* END OF HEADER STYLING */

/* MAIN STYLING */

main {
  width: 100vw;
  color: #5b5b5b;
}

main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 8vh;
  padding-bottom: 32px;
  width: 850px;
  background-color: white;
  z-index: 1;
}

#faq {
  width: 640px;
}

.border,
.section-header {
  border-style: solid none;
  border-width: thin;
  border-color: #e8e8e8;
  width: 704px;
}

.border {
  padding: 12px 0;
}

.section-header {
  padding: 40px 16px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

#faq .border + p {
  font-size: 1.4rem;
  margin-top: 40px;
}

#faq h3 {
  font-size: 1.3rem;
  margin-top: 40px;
  margin-bottom: 16px;
}

#faq p {
  margin: 0;
  font-size: 1rem;
  align-self: flex-start;
  text-align: justify;
}

#faq p a {
  border-bottom: 1px dotted #409ea9;
  text-decoration: none;
  color: #409ea9;
  -webkit-transition: border-bottom 0.2s ease-out;
  -moz-transition: border-bottom 0.2s ease-out;
  -o-transition: border-bottom 0.2s ease-out;
  transition: border-bottom 0.2s ease-out;
}

#faq p a:hover {
  border-bottom: 1px dotted #ffffff;
}

#please-apply {
  align-self: center !important;
  margin-bottom: 16px !important;
}

#faq button {
  border-color: #409ea9;
  background-color: #409ea9;
  color: #e8e8e8;
  border-style: solid;
  border-width: thin;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

#faq button:hover {
  background-color: #ffffff;
  color: #409ea9;
}

.grid {
  display: grid;
  width: 850px;
  margin-top: 16px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

#portfolio {
  z-index: 10;
}

#modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #e8e8e8;
}

#modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-modal {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 4rem;
  margin: 16px;
  line-height: 2rem;
  cursor: pointer;
}

#modal-image {
  max-width: 60vw;
  max-height: 50vh;
}

#caption-title {
  margin: 8px 16px;
  line-height: normal;
}

#caption-title a {
  text-decoration: none;
  color: #e8e8e8;
  border-bottom: 1px dotted #e8e8e8;
  -webkit-transition: border-bottom 0.2s ease-out;
  -moz-transition: border-bottom 0.2s ease-out;
  -o-transition: border-bottom 0.2s ease-out;
  transition: border-bottom 0.2s ease-out;
}

#caption-title a:hover {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.9);
}

#caption-paragraph {
  max-width: 850px;
  margin: 0;
  padding: 0 16px;
  text-align: justify;
}

.portfolio-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.portfolio-item {
  width: calc((850px / 3) - 16px);
  height: calc((850px / 3) - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio-item > img {
  width: calc((850px / 3) - 16px);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.portfolio-item > img:hover {
  width: calc(850px / 3);
}

.partners-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.partners-item {
  place-self: center;
  width: calc((850px / 4) - 16px);
}

.build-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-bottom: 32px;
}

.build-object {
  width: 100%;
  place-self: center;
}

.build-object h3 {
  padding: 0 32px;
  margin: 16px 0 8px 0;
}

.build-object p {
  text-align: justify;
  padding: 0 32px;
  margin-top: 0;
}

.grid + p {
  text-align: justify;
}

#final-remark {
  font-size: 1.4rem;
}

/* END OF MAIN STYLING */

/* FOOTER STYLING */

#footer {
  width: 100vw;
  height: 0;
}

.footer {
  width: 50%;
  height: 192px;
  box-sizing: border-box;
}

#footer-left {
  border-right: solid;
  border-width: thin;
  border-color: #e8e8e8;
  z-index: -1;
}

footer {
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 15%);
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 15%);
  background-color: #409ea9;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  z-index: 1;
}

#contact {
  width: 704px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .border {
  margin-top: 192px;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer .border,
footer .section-header {
  border-bottom: none;
  color: #e8e8e8;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  width: 100%;
}

.form-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-contents: center;
}

.form-input {
  background-color: #409ea9;
  color: #e8e8e8;
  border-color: #e8e8e8;
  box-shadow: none;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  margin: 16px;
  padding: 16px;
  font-size: 1rem;
  font-family: inherit;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.form-input:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 4px;
  outline-color: #409ea9;
  background-color: rgba(232, 232, 232, 0.1);
}

.form-input-top-line {
  box-sizing: border-box;
  width: 50%;
}

#message {
  width: 100%;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #8cc5cb;
} /* may not be necessary anymore */

::placeholder {
  color: #8cc5cb;
} /* can't combine with above - doesn't work for some reason */

footer .button {
  margin-top: 16px;
  margin-bottom: 32px;
  color: #409ea9;
  background-color: #e8e8e8;
  border-style: solid;
  border-width: thin;
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

footer .button:hover {
  background-color: #409ea9;
  color: #e8e8e8;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-contents: center;
  padding: 32px;
}

.icon {
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 1px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.icon:hover {
  background-color: rgba(232, 232, 232, 0.1);
}

.icon > img {
  display: flex;
  align-self: center;
  width: 24px;
  height: 24px;
}

.icon-label {
  display: none;
}

#attribution {
  font-size: 0.8rem;
  margin-bottom: 16px;
  color: #e8e8e8;
}

#attribution a {
  text-decoration: none;
  color: #e8e8e8;
  border-bottom: 1px dotted #e8e8e8;
  -webkit-transition: border-bottom 0.2s ease-out;
  -moz-transition: border-bottom 0.2s ease-out;
  -o-transition: border-bottom 0.2s ease-out;
  transition: border-bottom 0.2s ease-out;
}

#attribution a:hover {
  border-bottom: 1px dotted #409ea9;
}

/* END OF FOOTER STYLING */

/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
  main > section {
    width: 80vw;
  }

  #faq {
    width: 75vw;
  }

  .border,
  .section-header {
    width: 80vw;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80vw;
  }

  .portfolio-item {
    width: calc((80vw / 2) - 16px);
    height: calc((80vw / 2) - 32px);
    display: grid;
    place-self: center;
    overflow: hidden;
  }

  .portfolio-item > img {
    width: calc((80vw / 2) - 16px);
  }

  .portfolio-item > img:hover {
    width: calc(80vw / 2);
  }

  .partners-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80vw;
  }

  .partners-item {
    place-self: center;
    width: calc((80vw / 3) - 16px);
  }

  .build-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80vw;
  }

  form,
  #contact {
    width: 80vw;
  }
}

@media screen and (max-width: 800px) {
  #close-modal {
    font-size: 3rem;
    margin: 8px;
    line-height: 1.5rem;
  }

  #caption-title a {
    font-size: 1rem;
  }

  #caption-paragraph {
    width: 80vw;
    font-size: 0.9rem;
    margin-top: 0;
  }

  .build-object h3,
  .build-object p {
    padding: 0 16px;
  }

  .build-object h3 {
    font-size: 1rem;
  }

  .build-object p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 650px) {
  .build-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .build-grid {
    position: relative;
    margin-bottom: 96px;
  }

  .build-object p {
    margin-bottom: 32px;
  }

  /* swaps Build Week 2 photo & caption around for readability */
  #swap {
    position: absolute;
    top: 100%;
    bottom: 100%;
  }
}

@media screen and (max-width: 600px) {
  #fac_lightbulb {
    height: 100px;
  }

  header h1 {
    font-size: 2rem;
  }

  header h2 {
    font-size: 1.5rem;
  }

  header p {
    font-size: 1.2rem;
  }

  main > section {
    width: 90vw;
  }

  #faq {
    width: 85vw;
  }

  .section-header {
    font-size: 1.2rem;
  }

  #faq .border + p {
    font-size: 1.1rem;
  }

  #faq h3 {
    font-size: 1rem;
  }

  #faq p {
    font-size: 0.9rem;
  }

  .build-grid + p {
    font-size: 0.9rem;
  }

  #final-remark {
    font-size: 1.1rem;
  }

  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 80vw;
  }

  .partners-item {
    place-self: center;
    width: calc((80vw / 2) - 16px);
  }

  .form-line {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .form-input-top-line {
    width: 100%;
  }

  #message {
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 500px) {
  .icon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    padding-bottom: 16px;
  }

  #contact {
    text-align: center;
  }

  .icon {
    margin: 8px;
    place-self: center;
  }
}

@media screen and (max-width: 400px) {
  .button {
    width: 80vw;
  }

  header h1 {
    margin: 16px 0;
  }

  header p {
    width: 85vw;
    padding: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-height: 400px) {
  #modal-image {
    max-width: 30vw;
    max-height: 40vh;
  }

  #caption-paragraph {
    font-size: 0.8rem;
  }
}

/* END OF MEDIA QUERIES */
