body,
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  width: 100vw;
}

h1,
h2 {
  text-transform: uppercase;
}

/* HEADER STYLING */

header {
  width: 100vw;
  color: white;
  font-size: 16px;
}

#header-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(68, 88, 101, 0.8), rgba(68, 88, 101, 0.8)),
    url("https://foundersandcoders.com/assets/academy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  height: 90vh;
  width: 100%;
  padding-top: 15vh;
}

#fac_lightbulb {
  height: 120px;
  width: auto;
}

header > * {
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 2.5em;
  margin: 32px 0;
}

header h2 {
  font-weight: 600;
  font-size: 2em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px;
}

header p {
  font-weight: 400;
  font-size: 1.5em;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 32px;
}

.apply-button {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 0;
  width: 16rem;
  border-radius: 5px;
  background-color: #ffffff;
  color: #00bfae;
  margin-top: 8px;
}

/* END OF HEADER STYLING */

/* MAIN STYLING */

main {
  width: 100vw;
}

main > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-section {
  margin-top: 8vh;
  width: 60%;
}

#faq > h3 {
  margin-top: 32px;
  margin-bottom: 0;
}

#faq > p,
#faq button {
  margin-top: 8px;
}
