body,
main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  width: 100vw;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  z-index: 1;
}

.button {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 0;
  width: 16rem;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.button:focus {
  outline-color: #409ea9;
}

#body {
  width: 100vw;
  height: 0;
  position: sticky;
  top: 0;
}

.body {
  width: 50%;
  height: 100vh;
}

#body-left {
  border-right: solid;
  border-width: thin;
  border-color: #e8e8e8;
  z-index: -1;
}

/* HEADER STYLING */

header {
  width: 100vw;
  color: white;
  font-size: 16px;
}

#header-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(68, 88, 101, 0.8), rgba(68, 88, 101, 0.8)),
    url("https://foundersandcoders.com/assets/academy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  height: 90vh;
  width: 100%;
  padding-top: 15vh;
}

#fac_lightbulb {
  height: 120px;
  width: auto;
}

header > * {
  text-align: center;
  color: #ffffff;
}

header h1 {
  font-weight: 700;
  font-size: 2.5em;
  margin: 32px 0;
}

header h2 {
  font-weight: 600;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 8px;
}

header p {
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 32px;
}

header button,
header button {
  background-color: #ffffff;
  color: #409ea9;
}

/* END OF HEADER STYLING */

/* MAIN STYLING */

main {
  width: 100vw;
  color: #5b5b5b;
}

main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 8vh;
  padding-bottom: 32px;
  width: 60%;
  background-color: white;
  z-index: 1;
}

#faq {
  width: 50vw;
}

.border,
.section-header {
  border-style: solid none;
  border-width: thin;
  border-color: #e8e8e8;
}

.border {
  padding: 12px 0;
  margin-bottom: 16px;
}

.section-header {
  padding: 40px 16px;
  margin: 0;
  width: 50vw;
  text-align: center;
}

#faq .border + p {
  font-size: 1.4rem;
  margin-bottom: 16px;
}

#faq h3 {
  font-size: 1.3rem;
  margin-top: 32px;
  margin-bottom: 0;
}

#faq p,
#faq button {
  margin-top: 16px;
  margin-bottom: 8px;
}

#faq p {
  font-size: 1rem;
}

#faq p a:link,
#faq p a:visited {
  border-bottom: 1px dotted #409ea9;
  text-decoration: none;
  color: #409ea9;
}

#faq p a:hover {
  border-bottom: none;
}

#faq button {
  background-color: #409ea9;
  color: #ffffff;
}

.grid {
  display: grid;
  width: 65vw;
  margin-top: 16px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

#modal {
  display: none;
}

.portfolio-grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.portfolio-item > img {
  width: calc((65vw / 3) - 16px);
}

.partners-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-tempalte-rows: repeat(3, 1fr);
}

.partners-item {
  place-self: center;
  width: calc((65vw / 4) - 16px);
}

/* END OF MAIN STYLING */

/* FOOTER STYLING */

/* END OF FOOTER STYLING */
